<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/face') %>
    <%- include('block/dangers') %>
    <%- include('block/effects') %>
    <%- include('block/problems') %>
    <%- include('block/treatment') %>
    <%- include('block/sostav') %>
    <%- include('block/professional') %>
    <%- include('block/commits') %>
    <%- include('block/face') %>
    <footer>
        <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <span>BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International</span>
            <br>
            <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> |
            <a href="http://feedback-team.com" target="_blank">Report</a>
        </div>
    </footer>
    <%- include('block/script') %>
</body>

</html>